.link {
  @include font($weight: 500);
  display: inline-block;
  padding: 0.5em 0;
  box-shadow: 0 0 currentColor;
  transition: box-shadow $baseTransition;

  &:hover,
  &:focus {
    box-shadow: 0 4px currentColor;
  }

  &.disabled {
    pointer-events: none;
  }

  &--icon {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}
