.product {
  border-radius: $baseRadius;
  box-shadow: $cardShadow;

  &__photo {
    position: relative;
    padding-top: calc(100% * 2 / 3);
    margin-bottom: 1em;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    padding: 0.25em 1em 0.875em;
    text-align: left;
  }

  &__name {
    @include font($size: 1.125rem, $weight: 500);
    margin-bottom: 0.25em;
  }

  &__text {
    @include font($size: 0.875rem);
    color: $lightTextColor;
    margin-bottom: 0.5em;
  }

  &__price-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  &__price {
    @include font($size: 1.375rem, $weight: 500);
    color: $baseAccentColor;
  }
}
