body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  font-family: $primaryFont;
  background-color: $bodyBgColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

select,
input,
textarea {
  color: inherit;
  background-color: #fff;
  border: none;
  outline: none;
}

option {
  padding: 0;
}
