$accentColor: #42a779;
$accentActiveColor: hsl(153, 43%, 50%);
$errorColor: #dd7777;

$primaryFont: "Archivo Narrow", sans-serif;
$headerFont: Oswald, sans-serif;
$primaryTextColor: #525252;
$placeholderColor: #dbdbdb;

$bodyBgColor: #f3f3f3;
$primaryBgColor: #fefefe;
$secondaryBgColor: #ededed;

$borderColor: #dbdbdb;
$borderWidth: 2px;
$borderRadiusM: 4px;
$borderRadiusL: 8px;

$transitionDefault: 0.25s;

$desktopBreakpoint: 720px;
