$whiteColor: #fff;
$titleColor: #3f7c85;
$textColor: hsl(188, 36%, 28%);
$placeholderColor: #747e7e;
$clearColor: #ff5f5d;

$addIconColor: #00ccbf;
$editIconColor: #00ccbf;
$deleteIconColor: #ff5f5d;

$bodyBgColor: hsl(180, 4%, 94%);
$editBgColor: hsl(180, 4%, 94%);
$boxWidth: 425px;
$boxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$boxRadius: 8px;
