body {
  padding: 4em;
  background-color: cornflowerblue;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  fill: currentColor;
}
