$searchTextColor: #0d0d0d;
$searchPlaceholderColor: #5c6c73;
$searchBgColor: #fff;
$searchBorderColor: #d0d9d8;

$weatherTextColor: #d0d9d8;
$weatherTempColor: #fff;
$weatherCurrentBgColor: #0d0d0d;
$weatherForecastBgColor: #262626;

$errorTextColor: #fff;
$errorBgColor: #e96e50;

$widgetWidth: 425px;
$shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
